section.banner#banner
  .picture
  .host
    a.item.logo-tencent(href="http://www.geekpark.net/" target="_blank")
      img(src="/assets/images/toyota-logo.png")
    a.item.logo-geek(href="http://www.geekpark.net/" target="_blank")
      img(src="/assets/images/yiqi-logo.png")
