section.banner#banner
  .picture
  .host
    a.item.logo-tencent(href="javascript:;" target="_blank")
      img(src="/assets/images/toyota/toyota-logo.png")
    a.item.logo-geek(href="javascript:;" target="_blank")
      img(src="/assets/images/toyota/yiqi-logo.png")
