section.comments#comments
  +title('活动评论', 'ACTIVITY COMMENTS')
  .container.comments-list
    .item
      img(src="/assets/images/toyota/comments-01.png")
    .item
      img(src="/assets/images/toyota/comments-02.png")
    .item
      img(src="/assets/images/toyota/comments-03.png")
    .item
      img(src="/assets/images/toyota/comments-04.png")
