header.header#site-header
  .button
    .icon
      .line.top-line
      .line.middle-line
      .line.middle-two-line
      .line.bottom-line
  nav.nav
    a(href="#banner") 活动介绍
    a(href="#articles") 活动文章
    a(href="#photo") 活动照片
    a(href="#video") 活动视频
    a(href="#comments") 活动评论
    a(href="#contact") 联系我们
