-
  var articles = [
    { title: '自带空气净化的卡罗拉双擎多了一颗大心脏', cover: '/assets/images/toyota/article-01.jpg', link: 'http://www.toutiao.com/i6365847440171467265/' },
    { title: '你真的看懂《长城》了吗？', cover: '/assets/images/toyota/article-02.jpg', link: 'http://www.autodianju.com/portal.php?mod=view&aid=1544&from=singlemessage' },
    { title: '一汽丰田卡罗拉双擎 用实力混出一片天', cover: '/assets/images/toyota/article-03.jpg', link: 'http://auto.ifeng.com/tianjin/shangqing/2016/1229/22858.shtml' },
    { title: '聊混动，还得从丰田卡罗拉双擎说起', cover: '/assets/images/toyota/article-04.jpg', link: 'http://news.bitauto.com/shangwuwenzhang/20161115/0906647565.html' },
    { title: '看卡罗拉双擎如何让人买着超值 用着省心', cover: '/assets/images/toyota/article-05.jpg', link: 'http://auto.eastday.com/auto/2012auto/node37524/node37526/u1ai292902.html' },
    { title: '卡罗拉双擎技术体验营——有擎有意有科技', cover: '/assets/images/toyota/article-06.jpg', link: 'http://mp.weixin.qq.com/s?__biz=MzIzODA0MjE4OQ==&mid=2649685677&idx=4&sn=63a57a07a8213f94e8a83e9ee29a252c&chksm=f125338fc652ba99e65f44ace2af66f191c3cae1152a514147e0ec06205ee6c706046bad0b6b&mpshare=1&scene=1&srcid=0109zhUJqFwJUueoHjHXwwev#rd' }
  ]

section.intro#articles
  .container
    .info
      p 近日，一汽丰田卡罗拉双擎“有点儿意思”技术体验营于北京举办。
      p 活动通过混合动力史情景剧+卡罗拉双擎超级实验室的创新形式向来宾展示了卡罗拉双擎的先进科技，
      p 让人在“有点儿意思”中感慨了一把卡罗拉双擎的卓越科技。
      p 超级实验室中镍氢电池安全实验以及PM2.5净化实验，
      p 其意想不到的结果获得在场同仁的高度评价，证明了卡罗拉双擎的高性能安全性。
    .articles
      .swiper-container#articles-container
        .swiper-wrapper
          each item in articles
            a.item.swiper-slide(href=item.link target="_blank")
              .art-pic(style=`background-image: url(${item.cover})`)
              .art-title
                = item.title
      .articles-pagination.swiper-pagination
      .articles-button-prev.swiper-button-prev
      .articles-button-next.swiper-button-next
