-
  var videos = [
    { cover: '/assets/images/toyota/video-01.jpg', link: 'https://v.qq.com/x/page/r0362hzki67.html' },
    { cover: '/assets/images/toyota/video-02.jpg', link: 'https://v.qq.com/x/page/y03634woaxv.html' },
    { cover: '/assets/images/toyota/video-03.jpg', link: 'https://v.qq.com/x/page/o0363d3s573.html' }
  ]

section.video#video
  +title('活动视频', 'ACTIVITY VIDEO')
  .video-wrapper
    .swiper-container#video-container
      .swiper-wrapper
        each item in videos
          a.item.swiper-slide(href=item.link target="_blank")
            .video-cover(style=`background-image: url(${item.cover})`)
    .swiper-pagination.video-pagination
